<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Login Page</title>	
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
			</div>
			<div id="content">
				<div id="loginForm">
					<h3>Login</h3>
					<hr>
					<form>
						<label>Username:<br>
							<input type="text" name="loginUsername" required />
						</label><br>
						<label>Password:<br>
							<input type="password" name="loginPassword" required />
						</label>
					</form>
					<button type="submit" id="loginBtn">Login</button>
					<a href="#/register">Register here</a>
				</div>
			</div>
			<div id="footer" ng-include="'templates/footer.html'">
			</div>
		</div>
	</body>
</html>

