<div ng-include="'templates/header.html'"></div>
<div class="col-md-2" id="navigationPanel">
	<left-public-sidebar></left-public-sidebar>	
</div>
<div id="centerRegisterForm">
	<div id="registrationForm">
		<link rel="stylesheet" href="css/app.css">
		<h2>User Registration</h2>
		<hr>
		<form>
			<label>Username:<br>
				<input type="text" name="registerUsername" required ng-model="user.username" />
			</label><br>
			<label>Password:<br>
				<input type="password" name="registerPassword" required ng-model="user.password" />
			</label>
			<label>Confirm password:<br>
				<input type="password" name="registerConfirmPassword" required 
					ng-model="user.confirmPassword" />
			</label><br>
			<label>Name:<br>
				<input type="text" name="registerName" required ng-model="user.name" />
			</label>
			<label>Email:<br>
				<input type="email" name="registerEmail" required ng-model="user.email" />
			</label><br>
			<label>Phone:<br>
				<input type="text" name="registerPhone" required ng-model="user.phone" />
			</label>
			<label>Town:<br>
				<select id="inputTown" ng-options="town.id as town.name for town in towns" 
					ng-model="user.townId">
					<option value="">Sofia</option>
				</select>
			</label><br>
			<button type="submit" class="registerBtn" ng-click="register(user)">Register</button>
			<a href="#/login">Login here</a>
		</form>
	</div>
</div>