* {
	margin: 0;
	padding: 0;
}

body {
	height:100%;
	background: #e2f0d9;
}

#registrationForm {
	margin-left: auto;
    margin-right: auto;
	width: 34%;
	background-color: #a9d18e;
	border-radius: 20px;
	border: 1px solid green;
}

#loginForm {
	margin-left: auto;
    margin-right: auto;
	width: 20%;
	background-color: #a9d18e;
	border-radius: 20px;
	border: 1px solid green;
}

h2, h3 {
	color: black;
	text-align: center;
	font-weight: bold;
}

.registerBtn {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid green;
	background-color: #70ad47;
	color: #fff;
	margin: 20px 160px 20px 80px;
}

#registrationForm label {
	margin-left: 25px;
	margin-right: 5px;
}

#centerRegisterForm, #wrapper {
	margin-top: 20px;
}

#wrapper2 {
	margin-left: 15px;
}

#loginForm label {
	margin-left: 45px;
    margin-right: 45px;
}

#loginBtn {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid green;
	margin: 15px 20px 20px 45px;
	background-color: #70ad47;
	color: #fff;  
}

a {
	color: #2e78aa;
	text-decoration: none;
}

.images {
	width: 150px;
	height: 150px;
}

#wrapper {
	min-height:100%;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

footer {
	background: #a9d18e;
	width: 100%;
	height: 30px;
	font-weight: bold;
	text-align: center;
	position: fixed;
	padding: 5px; 
	bottom: 0;
	left: 0;
}

select {
	width: 191px;
	height: 22px;
}

header {
	background-color: #a9d18e;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	font-size: 20px;
}

.navigationPanel {
	margin: 20px;
	border: 1px solid black;
	text-align: center;
	background: #a9d18e;
}

.navigationPanel ul li {
	list-style: none;
}

.navigationPanel h3 {
	font-weight: bold;
}

.buttonNavigation {
	width: 100px;
	height: 30px;
	background-color: #70ad47;
	color: white;
	border-radius: 5px;
	border: 1px solid black;
	margin-bottom: 10px;
	font-family: Georgia;
	font-weight: bold;
}

button:hover { 
    background: #daa600;
    color: black;
}

.public-ads ul li {
	list-style: none;
	border: 1px solid black;
	margin: 20px;
	background: #a9d18e;
}

.adImage {
	margin: 0 0 20px 20px;
	border: 1px solid black;
}

#adTitle {
	margin-left: 20px;
	font-weight: bold;
}

#adDate {
	margin: 20px 20px 0 0;
}

#adText {
	padding-right: 20px;
	margin-right: 0; 
}

.publisherDetails {
	margin-top: 20px;
}

#loadingImage {
	text-align: center;
}

#categories, #towns {
	border: 1px solid black;
	margin: 20px 20px 0 0;
	background: #a9d18e;
}

ul li {
	list-style: none;
	padding-left: 20px;
}

#categories ul li:hover, #towns ul li:hover, #loggedInSidebar ul li:hover {
	color: black;
	background: #daa600;
	cursor: pointer;
}

#loggedInSidebar {
	border: 1px solid black;
	background: #a9d18e;
	margin: 20px 0 0 20px;
	color: black; 
}

#loggedInSidebar ul li {
	margin-bottom: 10px;
}

#loggedInSidebar ul li a {
	color: black;
	text-decoration: none;
}










